extends base
include _reviewCard

block append head
    script(src='https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js')
    link(href='https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css' rel='stylesheet')

    //- script(src='https://npmcdn.com/@turf/turf/turf.min.js')script(src='https://cdnjs.cloudflare.com/ajax/libs/mapbox-polyline/1.1.1/polyline.js')

    //- script(src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.js')
    //- link(rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.css' type='text/css')


mixin overviewBox(label, text, icon)
    .overview-box__detail
        svg.overview-box__icon
            use(xlink:href=`/img/icons.svg#icon-${icon}`)
        span.overview-box__label= label
        span.overview-box__text= text 


block content
    section.section-header
        .header__hero
            .header__hero-overlay &nbsp;
            img.header__hero-img(src=`/img/tours/${tour.imageCover}`, alt=`${tour.name}`)

        .heading-box
            h1.heading-primary
                span=`${tour.name} tour`
            .heading-box__group
                .heading-box__detail
                    svg.heading-box__icon
                        use(xlink:href='/img/icons.svg#icon-clock')
                    span.heading-box__text=  `${tour.duration} days`
                .heading-box__detail
                    svg.heading-box__icon
                        use(xlink:href='/img/icons.svg#icon-map-pin')
                    span.heading-box__text= tour.startLocation.description

    section.section-description
        .overview-box
            div
                .overview-box__group
                    h2.heading-secondary.ma-bt-lg Quick facts
                    //- - const date = tour.startDates[0] ? tour.startDates[0].toLocaleString('en-us', {month: 'long', year: 'numeric'}) : 'No upcoming dates'
                    +overviewBox('Next dates', `${nextDatesStr}`, 'calendar' )
                    +overviewBox('Difficulty', tour.difficulty, 'trending-up' )
                    +overviewBox('Participants', `${tour.maxGroupSize} people`, 'user' )
                    +overviewBox('Rating', `${tour.ratingsAverage.toFixed(2)} / 5` , 'star' )
                .overview-box__group
                    h2.heading-secondary.ma-bt-lg Your tour guides
                    each guide in tour.guides 
                        .overview-box__detail
                            img.overview-box__img(src=`/img/users/${guide.photo}`, alt=`${guide.name}`)
                            - if(guide.role === "lead-guide") 
                                span.overview-box__label Lead guide 
                            - if(guide.role === "guide") 
                                span.overview-box__label Tour guide
                            span.overview-box__text= guide.name

        .description-box
            h2.heading-secondary.ma-bt-lg= `About ${tour.name} tour`
            - const paragraphs = tour.description.split('\n');
            each p in paragraphs 
                p.description__text=p

    section.section-pictures
        each image, i in tour.images
            .picture-box
                img.picture-box__img(src=`/img/tours/${image}`, alt=`The Park Camper Tour ${i+1}`, class=`picture-box__img--${i+1}`)

    section.section-map
        #map(data-locations=`${JSON.stringify(tour.locations)}`)

    section.section-reviews
        .reviews
            each review in tour.reviews
                +reviewCard(review)



    section.section-cta
        .cta
            img.cta__img.cta__img--logo(src=`/img/tours/${tour.images[0]}`, alt='Natours logo')
            img.cta__img.cta__img--1(src=`/img/tours/${tour.images[1]}`, alt='Tour picture')
            img.cta__img.cta__img--2(src=`/img/tours/${tour.images[2]}`, alt='Tour picture')
            .cta__content
                h2.heading-secondary What are you waiting for?
                p.cta__text= `${tour.duration} days. 1 adventure. Infinite memories. Make it yours today!`

                if user
                    button.btn.btn--green.span-all-rows#book-tour(data-tour-id=`${tour.id}`) Book tour now!
                else
                    a.btn.btn--green.span-all-rows(href="/login") Log in to book tour

    .popup-blur.hidden(data-bookings-str =`${JSON.stringify(bookings)}` data-max-group-size=`${tour.maxGroupSize}`)
        .reservation-popup
            h2.heading-secondary.popup-heading Make a reservation 
            form.form.form--reservation
                .form__group
                    label.form__label.reservation__label(for='date' ) Starting Date
                    //- input#date.form__input.reservation__input(type='date', required)
                    select#dates.reservation__input(name="select-number", required)
                        each date in tour.startDates
                            option(value=`${date}`)= `${date.toLocaleString('en-us', {day: 'numeric', month: 'long', year: 'numeric'})}`
                .form__group.ma-bt-md
                    label.form__label.reservation__label(for='number-of-hikers') Number of Hikers 
                    select#number-of-hikers.reservation__input(name="select-number", required)
                        //- each _, i in Array(tour.maxGroupSize) 
                        //-     option(value=`${i+1}`)= `${i+1}`

                .reservation_summary 
                    h3.order_title Summary 
                    .summary_line
                        p.summary_element From 
                        p.summary_element.summary_bold January 23, 2023
                        p.summary_element to 
                        p.summary_element.summary_bold Febryary 4, 2023
                    .summary_line
                        p.summary_element € 240 
                        p.summary_element x
                        p.summary_element 4 
                        p.summary_element =  
                        p.summary_element.summary_bold € 960
            button.btn.btn--green#confirm-reservation(data-tour-id=`${tour.id}`) Book Now!  

